* {
    color: white;
}
@font-face {
    font-family: hagrid;
    src: url(Hagrid-Regular-trial.ttf);
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 25%;
      width: 100%;
    }
  }
  @keyframes slideout {
    from {
      margin-left: 25%;
      width: 100%;
    }
    
    to {
      margin-left: 100%;
      width: 300%;
    }
  }
  @keyframes slideout2 {
    from {
      margin-right: 25%;
      width: 100%;
    }
    
    to {
      margin-right: 100%;
      width: 300%;
    }
  }
    
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeIn2 {
  from { opacity: 0; }
    to { opacity: 0.7; }
}
@keyframes fadeIn2 {
  from { opacity: 0; }
    to { opacity: 0.7; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut2 {
  from { opacity: 0.7; }
  to { opacity: 0; }
}
@keyframes fadeOut2 {
  from { opacity: 0.7; }
  to { opacity: 0; }
}


body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* Titulo */
.pTitle {
    font-family: Arial;
    color: white;
    font-size: 13.9px;
    text-shadow: #ee4f28 0.1em 0.1em 0.2em;
    margin: 0;
}
.pTitle1 {
    animation-duration: 1s;
    animation-name: slideout2;
    font-family: hagrid;
    font-size: 33.9px;
    margin: 0;
}
.pTitle2 {
    animation-duration: 1s;
    animation-name: slideout2;
    font-family: hagrid;
    font-size: 33.9px;
    color: #ee4f28;
    margin: 0;
    margin-bottom: 8px;
}
/* Titulo */

.divEsquerda {
    height: 100vh;
    width: 35%;
    background-color: black;
    z-index: 1;
    box-shadow: 15px 0px 60px 45px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divDireita {
    animation-duration: 1s;
    background-image: url(1447393.jpg);
    background-size: 100% 100%;
    /*! justify-self: flex-end; */
    /*! align-self: flex-end; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*! flex-direction: column; */
}
.divDireita img {
    height: 100px;
    width: 100%;
}
.divContent {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* Botões */
.divBotoes {
  display: flex;
  flex-direction: column;
  margin-top: 40%;
}
.wrapper{
    top: 55%;
    left: 138px;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 10px;
  }
.wrapper2{
    top: 62%;
    left: 138px;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 10px;
}
.wrapper3{
  top: 73%;
  left: 783px;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
}
  .aBotao{
    display: block;
    width: 205px;
    height: 30p;
    line-height: 40px;
    font-size: 15px;
    font-family: arial;
    color: #333;
    border: 1px solid #333;
    letter-spacing: 2px;
    text-align: center;
    transition: all .35s;
    border-radius: 10px;
  }
  .a2 {
      display: block;
      width: 200px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      font-family: arial;
      color: #333;
      border: 1px solid #333;
      letter-spacing: 2px;
      text-align: center;
      transition: all .35s;
  }
  
  .aBotao span{
    position: relative;
    z-index: 2;
  }
  
  .aBotao:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ee4f28;
    transition: all .35s;
    border-radius: 10px;
  }
  
  .aBotao:hover{
    color: #fff;
  }
  
  .aBotao:hover:after{
    width: 100%;
  }
  .btnForm {

    background: transparent;
    border-radius: 5px;
    border: solid 1px #333;
    height: 27px;
    width: 207px;
    margin-top: 20px;
  }
/* Botões */

.divIntroducao {
    margin-top: 30%;
    font-family: hagrid;
    opacity: 0.7
}
.divLogin_Cadastro_Menu {
    animation-duration: 1s;
    animation-name: slidein;
    height: 60%;
    background-color: black;
    width: 75%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 8px 9px 44px black;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}
input {
  background: transparent;
  border: 1px solid #333;
  height: 27px;
  width: 200px;
  border-radius: 5px;
}
select {
    background: transparent;
    height: 31px;
    width: 204px;
    border-radius: 5px;
    border: 1px solid #333;
}
select option {
  background-color: #333;
  border: 0;
}
.containerLogin {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*! margin: 0; */
}
.formLogin{
    font-family: hagrid;
    width: 35%;
    /*! margin-right: 60px; */
}
.divCima {
    display: flex;
    flex-direction: row;
}
.divDisplayLogin {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divDisplayCadastro {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divDisplayMenu {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divContainerCadastro {
  width: 90%;
  height: 90%;
}
.divContainerMenu {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.divDisplayMenu {
  display: none;
}
.aMenus {
  font-family: hagrid;
  position: relative;
  text-decoration: none;
	width: 20%;
  height: 30px
}

.aMenus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ee4f28;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.aMenus:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.divCuriosidades {
  display: none;
  /*! margin-top: 15vh; */
  font-family: hagrid;
  opacity: 0.7;
  margin-top: 20vh;
}
.divBtnProx {
  position: absolute; 
  left: 95%;
  top: 45vh; 
  height: 5%;
  width: 50px;
  display: none;
  /*! margin-right: 30px; */
}
.btnProx {
  cursor: pointer;
  transition: all 0.5s;
  background: transparent;
  border: 0px;
  color: black;
  height: 90%;
  width: 90%;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnProx:hover {
  color: white;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  }
.divImagemStatic{
  position: absolute;
}  

/* Select */

/* Select */





