
@font-face {
    font-family: hagrid;
    src: url(Hagrid-Regular-trial.ttf);
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
* {
    font-family: hagrid;
    color: white;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divContainer {
    width: 96%;
    height: 97vh;
}
.pTitle {
    font-family: Arial;
    color: white;
    font-size: 13.9px;
    text-shadow: #ee4f28 0.1em 0.1em 0.2em;
    margin: 0;
}
.pTitle1 {
    animation-duration: 1s;
    animation-name: slideout2;
    font-family: hagrid;
    font-size: 33.9px;
    margin: 0;
}
.pTitle2 {
    animation-duration: 1s;
    animation-name: slideout2;
    font-family: hagrid;
    font-size: 33.9px;
    color: #ee4f28;
    margin: 0;
    margin-bottom: 8px;
}
.divCima {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    align-items: center;
}
.divBaixoMim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.divParte {
    font-size: 19px;
    width: 29%;
    height: 100%;
    text-align: justify;
}
.divBaixo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.divSuave {
    animation-name: fadeIn;
    animation-duration: 3s;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}